[submodule "submodules/plog"]
	path = submodules/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "submodules/CTIOL"]
	path = submodules/CTIOL
	url = git@bitbucket.org:kulvait/kct_ctiol.git
[submodule "submodules/matplotlib-cpp"]
	path = submodules/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
[submodule "submodules/CLI11"]
	path = submodules/CLI11
	url = https://github.com/CLIUtils/CLI11
